<% include header.ejs %>

<div class="vsebina">
    <h2>Vzpostavi povezavo z: </h2>

        <input type="text" name="IP" class="form-control" placeholder="IP" required  style="width:40%">
        <input type="text" name="port" class="form-control" placeholder="port" required  style="width:40%">
        <input type="text" name="data" class="form-control" placeholder="data" required  style="width:40%">
        <div class="tp">
            <input type="submit" id="connectBtn" class="btn btn-success" value="Connect">
        </div>

</div>