<% include header.ejs %>

<div class="vsebina">
    <h2>Game: </h2>

    <form action="/user/jump" method="post">
        <div class="tp">
            <input type="submit" class="btn btn-success" value="Jump">
        </div>
    </form>

    <form action="/user/slide" method="post">
        <div class="tp">
            <input type="submit" class="btn btn-success" value="Slide">
        </div>
    </form>

    <form action="/user/hit" method="post">
        <div class="tp">
            <input type="submit" class="btn btn-success" value="Hit">
        </div>
    </form>

</div>