<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src='/scripts/mainScript.js' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

<div class="topnav">
    <a class="active" href="/">Domov</a>
    <a href="/user/profile">Profile</a>
    <a href="/user/login">Login</a>
    <a href="/user/register">Register</a>
    <a href="/user/connect">Poveži se</a>
    <a href="/user/myUserList">Lista uporabnikov</a>
    <a href="/transaction/makeTransactions">Make transactions</a>
    <a href="/block/addBlok">Dodaj blok</a>
    <a href="/block/myBlockchain">BlockChain</a>
    <a href="/shop/">Shop</a>
    <a href="/user/inventory">Inventory</a>
    <a href="/user/myOffers">MyOffers</a>
    <a href="/user/playGame">PlayGame</a>
    <a href="/block/marketHistory">Market History</a>
</div>