<% include header.ejs %>

<div class="vsebina">
    <h2>Vpisi svoje ime: </h2>

    <h3>MyData:</h3>

    <input type="text" name="username" class="form-control" placeholder="username" required  style="width:40%">
    <input type="password" name="password" class="form-control" placeholder="password" required  style="width:40%">
		<div class="tp">
			<input type="submit" id="loginBtn" class="btn btn-success" value="Login">
		</div>

</div>