<% include header.ejs %>

<div class="vsebina">
    <h2>Profile </h2>
    <h4><b>User:</b> <%= user.name %></h4>

    <p><b>Jumps: </b> <%= jumps %> </p>
    <p><b>Slides: </b> <%= slides %> </p>
    <p><b>Hits: </b> <%= hits %> </p>
</div>